
/* Header */
.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding-top:0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
}

.header-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 16px 56px;
}
/* bên trái header */
.header__left {
    align-items: center;
    display: flex;
}

.header__left-logo {
    width: 50px;
    height: 50px;
    box-shadow: 0px 1px 5px 10px #f0ecec;
    border-radius: 50px;
    margin-right: 25px;
}

 /* bên phải header */


.header__right {
    display: flex;
    align-items: center;
}

.header__right-list {
    display: flex;
    list-style: none;
    padding: 0 8px;
    
}

.header__right-item{
    position: relative;
}
.header__right-item:nth-child(2)::before {
    content: "";
    position: absolute;
    display: block;
    top: -3px;
    right: 7px;
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 5px;
}

.header__right-item-link {
    padding: 0 16px;
    text-decoration: none;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 500;
    word-spacing: 1px;
}

.header__right-item-link:hover{
    color: var(--hover-color);
}

.header__right-country {
    display: flex;
    padding: 4px 10px;
    background-color:#f6f6f6;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.header__right-country-img {
    width: 24px;
    height: 24px;
    border-radius:50%;
    margin-right: 8px;
    margin-left: -6px;
}

.header__right-country-name {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-right: 8px;
    font-weight: 400;
}
.header__right-country i{
    font-size: 1.4rem;
}

.header__right-country-child {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    min-width: 470px;
    min-height:154px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 4px;
    /* border: 1px solid #d6d6d6;    */
    box-shadow: 0px 1px 1px 1px #ccc;
    display: none;
}

.header__right-country-child::before{
    content:"";
    display: block;
    z-index: -1;
    position: absolute;
    top: -6px;
    right: 24px;
    width: 28px;
    height: 28px;
    background-color: #fff; 
    /* border: 1px solid #ccc; */
    transform: rotate(45deg); 
    box-shadow: 0 0 0 1px rgb(6 44 82 / 10%), 0 2px 16px rgb(33 43 54 / 8%);
}

.a{
    transform: rotate(45deg);
}
.header__right-country-child::after{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    top: -12px;
}

.right-country-child-language {
    margin: 4px 0;
    flex: 1;
    list-style: none;
    border-right: 1px solid rgb(218, 215, 215);
}

.language-item-icon-check,
.currency-item-icon-check {
    margin-left: 8px;
}

.country-child-language-item-link {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    padding: 16px;
}

.country-child-language-item-img{
    display: inline-flex;
    align-items: center;  
    position: relative;
    top: 2px;
    right: -2px;
    height: 16px;
    width: 16px;
    margin-right: 15px;
    
}

.country-child-language-item-name {
    font-size: 1.6rem;
}


.right-country-child-currency-item-link:hover,
.country-child-language-item-link:hover{
    color: var(--hover-color);
}

.right-country-child-currency {
    flex: 1;
    list-style: none;
    margin: 6px 0;
}

.right-country-child-currency-item {

}

.right-country-child-currency-item-link{
    display: block;
    text-decoration: none;
    color: var(--black-color);
    padding: 16px;
}

.right-country-child-currency-item-short {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 16px;
}

.right-country-child-currency-item-full {
    font-size: 1.6rem;
}


.header__right-country:hover .header__right-country-child{
    display: inline-block;
    display: inline-flex;
}


.footer-call {
    position: fixed;
    display: flex;
    z-index:1;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #2e83b8;
    animation: ring ease 0.8s ;
    animation-delay: 5s;
    animation-direction: alternate;  
    animation-iteration-count: infinite;
}

.footer-call:hover{
    background-color: var(--hover-color);
    animation: ring--hover ease 0.8s ;
    animation-direction: alternate;  
    animation-iteration-count: infinite;
}
.footer-call-link{
    color: var(--white-color);
    font-size: 30px;
    text-decoration: none;
}

/* container */

.container{
    margin-top: var(--height-header);
    margin-bottom: 100px;
}

.heading-wrap {
    display: flex;
    align-items: center;
    height: 170px;
    background: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
}

.heading-text {
    line-height: 3rem;
    font-size: 2.4rem;
    padding-bottom: 10px;
    color: var(--white-color);
}

.heading-text--des {
    line-height: 3rem;
    color: var(--white-color);
    font-size: 1.8rem;
}

/* phần tiện ích */
.container-benafit {

}

.benafit-wrap {
    margin-top: 48px;
}

.benafit-img {
    height: 70px;
    width: 65px;
    object-fit: contain;
}

.benafit-heading-text {
    font-size: 1.8rem;
    margin: 24px 0 14px;
}

.benafit-des-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
    word-spacing: 0.8px;
}
/* phần box đăng kí */

.login-wrap {
    margin-top:-110px;
    padding: 32px;
    background-color:var(--white-color);
    box-shadow: 0 9px 46px 8px rgb(0 0 0 / 2%),
    0 24px 38px 3px rgb(0 0 0 / 4%), 
    0 11px 15px -7px rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.login-heading {
    font-size: 2.4rem;
    margin-bottom: 36px;
}

.login-title-wrap {

}

.login-title-lable {
    font-size: 1.6rem;
    line-height:2.4rem;
    color: #222;
    margin-top: 20px;
    font-weight: 500;

}

.login-title-lable--des{
    font-size: 1.6rem;
    color: #999;
    font-weight: 400;
    margin-left: 4px;
}

.login-input-wrap {
    position: relative;
}

.login-input:focus {
    border-color: #a86452;
    box-shadow: 0 0 5px 0 rgb(246 94 57 / 50%);
    outline: none;

} 

.login-input{
    margin-top: var(--margin-input);
    border: 1px solid rgb(231, 225, 225);
    border-radius: 30px;
    width: 100%;
    font-size: 1.6rem;
    padding: 9px 4px 9px 18px;
    line-height: 1.8;
    outline: none;
    
}

.login-title-request{
    font-size: 1.3rem;
    color: #f65e39;
    font-weight:300;
}
.login-input-wrap i{
    font-size: 16px;
    position: absolute;
    top: calc(var(--margin-input) + 15px);
    right: 4px;
    margin-right: 16px;
}


.login-input::placeholder{
    font-size: 1.4rem;
}

/* button login */
.login-btn {
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    border: none;
    box-shadow: 0 4px 12px 0 rgb(246 116 57 / 40%);
    border-radius: 30px;
}

.btn-login-text {
    font-size: 1.6rem;
    word-spacing: 1px;
    font-weight: 700;
    color: var(--white-color);
    padding: 12px;
    line-height: 3rem;
    display: block;
}


/* bottom-login */
.login-text-bottom {
   
}
.login-introduct {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #222;
    font-weight:200;
    text-align: center;
}

.switch-login-link{
    font-size:1.6rem;
    text-decoration: none;
    color: var(--hover-color)
}

.switch-login-link:hover{
    color: var(--black-color);
}

.login-login_with {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.login-login_with-link{
    text-decoration: none;
}
.login-login_with-link-app {
    width: 100%;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(231, 225, 225);
    background-color: var(--white-color);
    border-radius: 30px;
}
.login_with-link-app-text {
    flex:5;
    margin-left: 20px;
    font-size: 1.6rem;
    word-spacing: 1px;
    font-weight: 700;
    color: var(--text-color);
    padding: 12px;
    line-height: 3rem;
    display: block;
    font-weight: 300;

}
.login_with-link-app-icon {
    flex: 1;
    margin-right: 16px;
    font-size: 1.6rem;
    color: #3a5999;
}
.login_with-link-app-icon-gg{
    color: #ea4535;
}

/* footẻ-end */

.end{
    padding: 25px 0;
    border-top: 1px solid #f3f3f3;
    
}

.end__line-text{
    color: #999;
    text-align: center;
    font-size: 1.4rem;
    word-spacing: 1px;
    line-height: 2.6rem;
}

